.center {
		text-align: center;
}

body {
		background-color: #6441a4;
}

p {
		color: #1fbaed;
}

.search input {
		overflow: hidden;
		padding: 6px 0;
		background-color: #29374a;
		color: #1fbaed;
		text-align: center;
		margin-top: 16px;
		font-size: 32px;
		width: 75%;
		height: 40px;
}

::placeholder {
		color: #1fbaed;
}

.search button {
		background-color: Transparent;
		font-size: 17px;
		border: none;
		cursor: pointer;
}

.search img {
		padding: 6px 5px;
		margin-top: 30px;
		padding-left: 8px;
		padding-right: 8px;
		height: 40px;
		width: auto;
}

.icon-top {
		width: 30px;
		height: auto;
		padding: 4px;
}

.streamers {
		margin-top: 70px;
		color: #444;
		padding: 45px;
		text-align: center;
}

.streamers p {
		font-size: 30px;
}

.streamers img {
		height: 50px;
		width: auto;
}

.streamers td, th {
		font-size: 20px;
		color: #1fbaed;
}

.streamers tr {
		background-color: #29374a;
}

.streamers img {
		background-color: none;
}

#streamId {
		border-radius: 20px;
		border: 5px;
		border-color: #3a485b;
		border-style: outset;
}

.inline-radio {
		background-color: #29374a;
		border-radius: 10px;
		height: 50px;
		padding: 10px;
		display:inline-block;
		text-align: center;
}

.inline-radio img {
		display: block;
}

#delete-button {
		margin-left: 49%;
		width: 2%;
}

a {
		text-decoration: none;
}
