.center {
		text-align: center;
}

.search-bar input {
		overflow: hidden;
		border-radius: 20px;
		padding: 6px;
		background-color: #ccc;
		text-align: center;
		margin-top: 16px;
		margin-right: 16px;
		font-size: 32px;
		width: 75%;
		height: 40px;
}

.icon-top {
		width: 30px;
		height: auto;
		padding: 4px;
}

.streamers {
		margin-top: 70px;
		color: #444;
		padding: 45px;
		text-align: center;
}

.streamers p {
		font-size: 30px;
}

.streamers img {
		height: 500px;
		width: auto;
}
